<?xml version="1.0"?>

<launch>
  <include file="$(find hector_gazebo_worlds)/launch/small_indoor_scenario.launch"/>

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch" />
  <arg name="model" value="$(find hector_quadrotor_description)/urdf/quadrotor_hokuyo_utm30lx.gazebo.xacro"/> 
  <node name="link_controller_node" pkg="drone_controller" type="link_controller_node" output="screen"/>  
</launch>
