<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find drone_model)/urdf/drone_model.xacro"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)' " />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 0.05 -unpause -urdf -model sjtu_drone -param robot_description" respawn="false" output="screen" />

    <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="link_controller_node" pkg="drone_controller" type="link_controller_node" output="screen"/>  
</launch>
